<div class="Container">
  <div class="card" id="first-card">
    <div class="title">Profile</div>
    <div>Height:</div>
    <div>Catch Rate:</div>
    <div>Egg Groups:</div>
    <div>Abilities:</div>
    <div id="right-side">Weight:</div>
    <div id="right-side">Gender Ratio:</div>
    <div id="right-side">Hatch Steps:</div>
    <div id="right-side">EVs:</div>
  </div>
  <div class="card">
    <div class="title">Evolutions</div>
    <div></div>
  </div>
  <div class="card">
    <div class="title">Damage When Attacked</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
    <div>Element</div>
  </div>
</div>
