.Container {
  width: 50%;
  margin: 5em auto;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}

.card {
  margin: 1em auto;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}

.title {
  color: aliceblue;
  background-color: rgb(31, 161, 31);
  height: 2em;
  font-size: larger;
  align-items: center;
}

.title-name {
  text-align: center;
  color: aliceblue;
  background-color: rgb(31, 161, 31);
  height: 2em;
  font-size: x-large;
  text-transform: capitalize;
}

.panel {
  height: 18em;
  width: auto;
  text-align: center;
  padding: 15px;
}

.first-img {
  position: relative;
  bottom: -2em;
  left: -12em;
  height: 12em;
  width: 12em;
}

.stats-name {
  position: relative;
  top: -10em;
}

.statistics {
  position: relative;
  top: -11.1em;
  right: 8em;
  text-align: right;
}

.card-elements {
  margin: 1em auto;
  height: 15em;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.element {
  margin: 1%;
  text-align: center;
  width: 40%;
  height: 25px;
  color: white;
}
