<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label for="name">Name </label>
    <input
      formControlName="name"
      type="text"
      name="name"
      id="name"
      placeholder="Name"
    />
    <div class="alert-danger" *ngIf="name?.touched && name?.pristine">
      Name is mandatory!
    </div>
    <div class="alert-danger" *ngIf="name?.touched && name?.invalid">
      Name is not valid, must contain at least 3 alphabetic characters!
    </div>
    <label for="familyName">Family Name </label>
    <input
      formControlName="familyName"
      type="text"
      name="familyName"
      id="familyName"
      placeholder="Family Name"
    />
    <div
      class="alert-danger"
      *ngIf="familyName?.touched && familyName?.pristine"
    >
      Family Name is mandatory!
    </div>
    <div
      class="alert-danger"
      *ngIf="familyName?.touched && familyName?.invalid"
    >
      Family Name is not valid, must contain at least 3 alphabetic characters!
    </div>
    <label for="number">Phone number </label>
    <input
      formControlName="number"
      type="text"
      name="number"
      id="number"
      placeholder="Phone number"
    />
    <div class="alert-danger" *ngIf="number?.touched && number?.pristine">
      Phone Number is mandatory!
    </div>
    <div class="alert-danger" *ngIf="number?.touched && number?.invalid">
      Phone Number is not valid!
    </div>
    <label for="email">Email </label>
    <input
      formControlName="email"
      type="text"
      name="email"
      id="email"
      placeholder="email"
    />
    <div class="alert-danger" *ngIf="email?.touched && email?.pristine">
      Email is mandatory!
    </div>
    <div class="alert-danger" *ngIf="email?.touched && email?.invalid">
      Email is not valid!
    </div>
    <label for="password">Password </label>
    <input
      formControlName="password"
      type="text"
      name="password"
      id="password"
      placeholder="password"
    />
    <div class="alert-danger" *ngIf="password?.touched && password?.pristine">
      Password is mandatory!
    </div>
    <div class="alert-danger" *ngIf="password?.touched && password?.invalid">
      Password should have minimum 8 characters, at least 1 uppercase letter, 1
      lowercase letter and 1 number
    </div>
    <label>Admin account</label>
    <input
      type="checkbox"
      name="isAdmin"
      formControlName="isAdmin"
      value="true"
    />
    <input class="submit-btn" type="submit" />
  </form>
</div>
