<div class="container">
  <form (ngSubmit)="onSubmit()">
    <label for="name">Name </label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      [(ngModel)]="name"
    />
    <label for="familyName">Family Name </label>
    <input
      type="text"
      name="familyName"
      id="familyName"
      placeholder="Family Name"
      [(ngModel)]="familyName"
    />
    <label for="number">Phone Number </label>
    <input
      type="text"
      name="number"
      id="number"
      placeholder="Phone number"
      [(ngModel)]="number"
    />
    <label for="email">Email </label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="email"
      [(ngModel)]="email"
    />
    <app-button class="btn" text="Register"></app-button>
  </form>
</div>
