<div class="header">
  <a class="block disabled" ariaCurrentWhenActive="Logo">Pokemon</a>
  <a
    routerLink="/home-component"
    class="block"
    routerLinkActive="block-clicked"
    ariaCurrentWhenActive="page"
    >Home</a
  >
  <a
    routerLink="/detail-component/:productName"
    class="block"
    routerLinkActive="block-clicked"
    ariaCurrentWhenActive="page"
    >Detail</a
  >
  <a
    routerLink="/create-product-component"
    class="block"
    routerLinkActive="block-clicked"
    ariaCurrentWhenActive="page"
    *ngIf="isAdmin"
    >Create Product</a
  >
  <a
    routerLink="/product-list-component"
    class="block"
    routerLinkActive="block-clicked"
    ariaCurrentWhenActive="page"
    *ngIf="isAdmin"
    >Product List</a
  >
  <a
    routerLink="/login-component"
    class="block-login"
    routerLinkActive="block-clicked"
    ariaCurrentWhenActive="page"
    >Login</a
  >
  <input class="block_input" type="text" placeholder="Search Pokemon" />
</div>
