<div class="header">
  <a
    routerLink="/pokemon-component"
    class="block"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Pokemon</a
  >
  <a
    routerLink="/"
    class="block"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Home</a
  >
  <a
    routerLink="/detail-component"
    class="block"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Detail</a
  >
  <a
    routerLink="/create-product-component"
    class="block"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Create Product</a
  >
  <a
    routerLink="/product-list-component"
    class="block"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Product List</a
  >
  <a
    routerLink="/login-component"
    class="block-login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Login</a
  >
  <input class="block_input" type="text" placeholder="Search Pokemon" />
</div>
