<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label for="email">Email </label>
    <input
      formControlName="email"
      type="text"
      name="email"
      id="email"
      placeholder="email"
    />
    <label for="password">Password </label>
    <input
      formControlName="password"
      type="text"
      name="password"
      id="password"
      placeholder="Password"
    />
    <input class="login-btn" type="submit" value="Login" />
    <button
      class="register-btn"
      routerLink="/register-component"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      value="Register here"
    >
      Register here
    </button>
  </form>
</div>
