/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.block-clicked {
  color: gray !important;
  text-align: center;
  background: rgb(255, 255, 255);
  width: 10%;
  height: 99%;
}
